@use "normalize";
@use "commons";

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('../fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}

::selection {
  background: #44D62C;
  color: #0A0A0A;
}

::-moz-selection {
  background: #44D62C;
  color: #0A0A0A;
}
