.home-header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  background: rgba(10, 10, 10, 0.4);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(68, 214, 44, 0.2);
  z-index: 100;
  position: sticky;
  top: 0;
}
